# Ignore everything in the root
/*

# Un-ignore base files
!.gitignore
!/poetry.lock
!/pyproject.toml
!/README.md

# Ignore byte code
__pycache__/
*.py[cod]
*$py.class

# Un-ignore all of subtree
!/yamiconfig/
!/tests/